<script type="text/template" id="modem-state">

</script>

<script type="text/template" id="modem-docs">
    <div class="row">
        <div class="jumbotron col-md-12"><h2><%= t('Last document DI') %> <b><span><%= CurrDI %></span></b></h2></div>
    </div>
    <div class="row">
        <div class="well col-md-6">
            <form id="docs" name="docs" class="form-horizontal">
                <legend><%= t('Check document:') %></legend>
                <div class="form-group"><label class="control-label" for="doc_di">DI:</label>
                    <input type="number" class="form-control" id="doc_di" name="doc_di"/>
                </div>
                <div class="form-group">
                    <button id="check" class="btn btn-primary"><%= t('Check') %></button>
                </div>
                <div id="msg" class="alert alert-info"></div>
            </form>
        </div>
        <div class="well col-md-6">
            <form id="dif" name="dif" class="form-horizontal">
                <legend><%= t('Get DI') %></legend>
                <div class="form-group"><label class="control-label" for="doc_z"><%= t('Z#') %></label>
                    <input class="form-control" type="number" id="doc_z" name="doc_z"/>
                </div>
                <div class="form-group"><label class="control-label" for="doc_chk"><%= t('Receipt#') %></label>
                    <input class="form-control" type="number" id="doc_chk" name="doc_chk"/>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="di_chk" class="btn btn-default">Чеки</button>
                        <button id="di_z" class="btn btn-default">Звіт</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="di_xml" class="well col-md-12"></div>
    </div>
</script>

<script type="text/template" id="di-doc">
    <div class="panel panel-default" id="di<%= di %>">
        <div class="panel-heading"><h3 class="panel-title"></h3> DI=<%= di %></div>
        <div class="panel-body"><%= t('Loading...') %></div>
        <div class="panel-footer"><%= t('Loading...') %></div>
    </div>
</script>

<script type="text/template" id="status-tbl">
    <h1><%= name %>
        <small> <%= t('Model') %>: <%= model %> <%= t('Serial#') %>: <%= serial %>
            <%
            if (!online) print('<span class="label label-danger">Offline</span>');
            %>
        </small>
    </h1>
    <div class="clearfix">
        <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-log-out"></span> <%= t('Logout') %>
        </button>
    </div>
    <table class="table table-striped table-status">
        <tr>
            <td><b><%= t('ECR time') %></b></td>
            <td><%= dateStr(time) %></td>
        </tr>
        <tr>
            <td><b><%= t('Version') %></b></td>
            <td><%= dev_ver %></td>
        </tr>
    </table>
</script>

<script type="text/template" id="reports-tmpl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('Day report') %></h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default btn-lg btn-block" id="xr"
                    data-loading-text="<%= t('Wait...') %>"><%= t('X-Report') %></button>
            <button type="button" class="btn btn-default btn-lg btn-block" id="zr"
                    data-loading-text="<%= t('Wait...') %>"><%= t('Z-Report') %></button>
        </div>
    </div>

    <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"
                                                            aria-hidden="true"></span> <%= t('Back') %></a>
</script>

<script type="text/template" id="reports-anaf-tmpl">
    <div class="panel panel-default panel-anaf">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('ANAF report') %></h3>
        </div>
        <div class="panel-body">
            <h4><%= t('Generate and export ANAF XML files from the given range') %></h4>

            <div class="error-block"></div>

            <form id="form-generate-anaf-report">

                <div class="form-group">

                    <div class="form-group-range-item">
                        <label for="start"><%= t('Start number') %></label>
                        <input type="number" value="<%= lastExportedZ %>" class="form-control form-report-range" name="start" min="0" id="start" required readonly />
                    </div>

                    <div class="form-group-range-item">
                        <label for="end"><%= t('End number') %></label>
                        <input type="number" value="<%= lastZ %>" name="end" min="0" class="form-control form-report-range" id="end" required readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label for="checkbox-enter-range"><%= t('Enter Z-report range manually') %></label>
                    <input type="checkbox" name="checkbox-enter-range" id="checkbox-enter-range" value=""/>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-danger btn-generate-report" value="<%= t('Generate') %>"/>
                </div>
            </form>
        </div>
    </div>
</script>